@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'TT Norms Pro';
  src: url('/fonts/TTNormsPro-Normal.ttf') format('truetype');
}

body {
  font-family: 'TT Norms Pro', sans-serif;
   font-size: 1rem !important;
}